# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual environment
venv/
env/
ENV/
.venv/
.env/

# Pipenv and poetry
Pipfile
Pipfile.lock
poetry.lock
# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Test cache directories
.tox/
.nox/
.coverage
.cache/
coverage.xml
*.cover
.hypothesis/
pytest_cache/
.pytest_cache/

# Django stuff:
*.log
local_settings.py
db.sqlite3

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyInstaller
*.manifest
*.spec

# pyenv
.python-version

# Jupyter Notebook
.ipynb_checkpoints

# Editor and IDE settings
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# macOS & Linux system files
.DS_Store
*.swp
*~

