blinker==1.8.2
click==8.1.7
colorama==0.4.6
coverage==7.6.1
e==1.4.5
flake8==7.1.1
Flask==3.0.3
iniconfig==2.0.0
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==2.1.5
mccabe==0.7.0
packaging==24.1
pluggy==1.5.0
pycodestyle==2.12.1
pyflakes==3.2.0
pytest==8.3.3
setuptools==74.1.2
Werkzeug==3.0.4
